.title{

        font-family: "Jersey 10 Charted", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 120px;  
        background-color:rgb(0,0,0,0.75);
        color:lightgray
}


.animeTitle{
    width:fit-content;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding:10px;
}

.format{
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:center;
    align-items: center;
}

body{
    background-image:url(./peakpx.jpg);
    background-position: center;
}

footer{
    font-family: "Anton", sans-serif;
}
.card{
    margin-bottom:10px;
    margin-left:20px;
}